@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --calculator-bg: #f3f4f6;
  --button-number-bg: #4b5563;
  --button-function-bg: #6b7280;
  --button-operator-bg: #f59e0b;
  --display-bg: #1f2937;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}
